*.py[co]
__pycache__
*-checkpoint.ipynb
*.vscode
*.log
*.db
config.yaml
OpenConfig.yaml
gotify_push.py
cos_config.yaml
/.idea/chan.iml
/.idea/misc.xml
/.idea/modules.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/vcs.xml
/.idea/workspace.xml
